/* Common CSS Start */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Be Vietnam Pro", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1340px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
}
section{
    padding: 50px 0 50px;
}
.flex_column{
    display: flex;
    flex-wrap: wrap;
}
.flex_column .left_column,
.flex_column .right_column{
    width: 50%;
}
.button a{
    background-color: #E84949;
    color: #fff;
    font-size: 20px;
    padding: 11px 25px;
    border-radius: 5px;
    border: 1px solid #E84949;
    box-shadow: 0 3px 5px gray;
    transition: .5s;
}
.button a:hover{
    color: #E84949;
    border: 1px solid #E84949;
    background-color: transparent;
}
h3{
    color: #E84949;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

/* Common CSS End */

/* Header Section Start */

.header_section{
    padding: 20px 0 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
.header_section .flex_column{
    align-items: center;
}
.header_section .flex_column .right_column ul{
    text-align: right;
}

.header_section .flex_column .right_column ul li{
    display: inline-block;
    text-align: right;
    margin-right: 70px;
}
.header_section .flex_column .right_column ul li:last-child{
    margin-right: 0;
}
.header_section .flex_column .right_column ul li a{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 3px 5px gray;
    transition: .5s;
}
.header_section .flex_column .right_column ul li a:hover:not(.active){
    color: #E84949;
}
.header_section .flex_column .right_column .active{
    color: #E84949;
}
.header_section .flex_column .right_column .active::before{
    content: url(../img/project_icon.png);
    margin-right: 15px;
    font-size: 20px;
    font-weight: 300;
}

/* Header Section End */

/* Hero Section Start */

.hero_section{
    background: linear-gradient(60deg, #eceaf8, #e7f4f8);
}
.hero_section .flex_column{
    align-items: center;
}
.hero_section .flex_column .left_column{
    width: 60%;
}
.hero_section .flex_column .left_column h2{
    color: #343d68;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}
.hero_section .flex_column .left_column h1{
    color: #343d68;
    font-size: 48px;
    font-weight: 600;  
    margin: 5px 0;     
}
.hero_section .flex_column .left_column p{
    color: #46454a;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 20px 0;
}
.hero_section .flex_column .left_column span{
    font-weight: 700;
}
.hero_section .flex_column .left_column .button{
    margin-top: 42px;
}


.hero_section .flex_column .right_column{
    width: 40%;
}
.hero_section .flex_column .right_column img{
    width: 100%;
}

/* Hero Section End */

/* Skills Section Start */

.skills_section{
    background: linear-gradient(70deg, #eceaf8, #e7f4f8);
}
.skills_section .flex_column{
    align-items: center;
    justify-content: space-between;
}
.skills_section .flex_column .left_column{
   width: 45%;
}
.skills_section .flex_column .left_column h4{
    color: #343d68;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 35px;
}
.skills_section .flex_column .left_column .skills{
    column-count: 4;
    text-align: center;
 }
.skills_section .flex_column .right_column{
   width: 45%;
}
.skills_section .flex_column .right_column img{
   width: 100%;
}

/* Skills Section End */

/* Projects Section Start */

.projects_section{
    background-color: #343d68;
    padding: 60px 0;
}
.projects_section h3{
    color: #e5e6eb;
}
.projects_section h3::before{
    content: url(../img/projects_section.png);
    margin-right: 15px;
}
.projects_section .pra {
	text-align: center;
	color: #e5e6eb;
	margin: 9px 0 22px;
}
.projects_section .grid_column{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.projects_section .grid_column .col{
    border: 5px solid green;
    border-image: linear-gradient(130deg, #20e8d3, #127fc4);
    border-image-slice: 1;
    background-color: #262c4c;
    padding-bottom: 70px;
    position: relative;
}
.projects_section .grid_column .col img{
    width: 100%;
}
.projects_section .grid_column .col p{
    font-size: 16px;
    font-weight: 400;
    color: #e3e4e8;
    text-align: center;
    padding: 10px 20px ;
}
.projects_section .grid_column .col .button{
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translatex(-50%);

}
.projects_section .grid_column .col .button a{
    box-shadow: none;
    border-color: #e3e4e8;
    background-color: transparent;
}
.projects_section .grid_column .col .button a:hover{
    border-color: #E84949;
}

/* Projects Section End */

/* Contact Section Start */

.contact_section{
    background-color: #f7f6fb;
}
.contact_section .flex_column{
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.contact_section .flex_column .left_column,
.contact_section .flex_column .right_column{
    width: 46%;
}
.contact_section .flex_column .left_column img{
    width: 100%;
}
input[type=email]{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 1px #a0a0a3;
}
textarea{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 45px;
    resize: none;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 1px #a0a0a3;
}
form{
    text-align: center;
}
input[type=email]::placeholder,
textarea::placeholder{
    color: #838383;
    font-size: 14px;
    font-weight: 400;
}
input[type=email]:focus,
textarea:focus{
    outline: none;
    font-size: 14px;
}
input[type=submit]{
    background-color: #343d68;
    color: #f7f6fb;
    font-size: 18px;
    padding: 11px 20px;
    border: 1px solid #343d68;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact Section End */

/* Footer Section Start */

.footer_section{
    background-color: #f7f6fb;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 150px;
}
.footer_section .flex_column{
    align-items: center;
}
.footer_section .flex_column p{
    color: #fff;
    font-size: 18px;
}
.footer_section .flex_column .right_column {
    text-align: right;
}
.footer_section .flex_column .right_column span{
    color: #0ACBBF;
}
#pra2{
    font-size: 18px;
    font-weight: 300;
}
.footer_section .flex_column .left_column ul li{
    display: inline-block;
    margin-right: 55px;
}
.footer_section .flex_column .left_column ul li:last-child{
    margin-right: 0;
}
.footer_section .flex_column .left_column ul li a{
    font-size: 35px;
    text-align: left;
}
.footer_section .flex_column .right_column a{
    font-size: 35px;
    text-align: left;
    margin-right: 20px;
}
.footer_section i{
    color: #fff;
    transition: .5s;
}
.footer_section i:hover{
    color: #e84949;
}

/* Footer Section End */


/* ================Slicknav============= */

.slicknav_menu {
    display:none;
    background-color: #fff;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding: 15px;
}
.slicknav_btn{
    background-color: #fff;
    float: left;
    margin: 0;
}
.slicknav_nav a {
	color: #e84949;
    font-size: 20px;
    font-weight: 600;
}
.slicknav_menu .slicknav_menutxt {
	display: none;
}
.slicknav_menu .slicknav_icon-bar {
	background-color: #e84949;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
}


/* ===================================Responsive Start==================================== */

@media screen and (max-width: 1200px){

    .projects_section .grid_column {
        gap: 30px;
    }
    .button a {
        font-size: 16px;
        padding: 10px 20px;
    }
    .projects_section .grid_column .col p {
        padding: 5px 5px;
        margin: 0 0 0;
    }
}

@media screen and (max-width: 1100px){
    .header_section .flex_column .right_column ul li {
        margin-right: 44px;
    }
}

@media screen and (max-width: 989px){

    .header_section{
        border-bottom: none;
        position: absolute;
    }
    .header_section .flex_column {
        display: none;
    }
    .slicknav_menu {
        display:block;
    }
    .hero_section .flex_column {
        flex-direction: column-reverse;
    }
    .hero_section .flex_column .left_column, .hero_section .flex_column .right_column {
        width: 100%;
        margin-top: 50px;
    }
    .skills_section .flex_column {
        flex-direction: column-reverse;
    }
    .skills_section .flex_column .left_column, .skills_section .flex_column .right_column {
        width: 100%;
        margin-top: 50px;
    }
    .projects_section .grid_column {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .projects_section .grid_column .col p {
        margin: 12px 0 15px;
    }
    .contact_section .flex_column .left_column, .contact_section .flex_column .right_column {
        width: 100%;
        margin-top: 60px;
    }
    .footer_section .flex_column .left_column, .footer_section .flex_column .right_column {
        width: 100%;
        text-align: left;
        margin-top: 40px;
    }
    .footer_section .flex_column .left_column ul li {
        margin-right: 35px;
    }
    .footer_section {
        padding: 140px 0 140px;
    }
}

@media screen and (max-width: 640px){

    .skills_section .flex_column .left_column .skills {
        column-count: 2;
    }
    .hero_section .flex_column .left_column h2 {
        font-size: 30px;
    }
    .hero_section .flex_column .left_column h1 {
        font-size: 45px;
        margin: 0;
    }
    .hero_section .flex_column .left_column p {
        margin: 10px 0;
    }
    .footer_section .flex_column .left_column, .footer_section .flex_column .right_column {
        margin-top: 30px;
    }
    .footer_section {
        padding: 140px 0 90px;
    }
    .hero_section .flex_column .left_column p br{
        display: none;
    }
}

@media screen and (max-width: 560px){

    .container {
        padding: 0 30px 0 30px;
    }
    #pra2{
        margin: 0;
    }
}

@media screen and (max-width: 520px){

    .hero_section .flex_column .left_column h2 {
        font-size: 28px;
    }
    .hero_section .flex_column .left_column h1 {
        font-size: 40px;
    }
    .hero_section .flex_column .left_column p {
        font-size: 16px;
    }
}

@media screen and (max-width: 520px){

    .hero_section .flex_column .left_column h2 {
        font-size: 24px;
    }
    .hero_section .flex_column .left_column h1 {
        font-size: 31px;
    }
    h3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 380px){

    .hero_section .flex_column .left_column h2 {
        font-size: 20px;
    }
    .hero_section .flex_column .left_column h1 {
        font-size: 26px;
    }
    .skills_section .flex_column .left_column h4 {
        font-size: 17px;
    }
    .button a {
        font-size: 15px;
    }
    .hero_section .flex_column .right_column {
        margin-top: 0;
    }
    .footer_section {
        padding: 70px 0 40px;
    }
}

/* ===================================Responsive End==================================== */